table {
	border-collapse: collapse;
	width: 100%;
}

h1 {
	font-family: 'Roboto', sans-serif;
}

table, th, td {
	border: 1px solid #DDD;
	font-family: 'Roboto', sans-serif;
}

th, td {
	padding: 5px;
}

td {
	text-align: left;
}

th {
	background-color: #00A3D6;
	color: #FFFFFF;
}